#triangle{
    text-align: center;
}
#sideone{
    padding: 10px;
}
#sidetwo{
    padding: 10px;
}
#sidethree{
    padding: 10px;
}
form{
    padding-left: 80px;
}
img{
    width: 200px;
}
footer{
    text-align: center;
    background-color: rgb(9, 148, 148);
}
#icon{
    color: blue;
    size: 100px;
}